body {
  padding: 0px 0px 10px 0px;
  background: #fbffe6 url(../images/backgrd.gif) repeat-y;
}
body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
code{
  font-family: Courier, monospace;
  font-size: 13px;
}
a {
  text-decoration: none;
}
a:link {
  color:#7eb8c7;
}
a:visited  {
  color:#7eb8c7;
}
a:active, a:hover {
  color:#009036;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h2 {
  padding: 4px 4px 4px 6px;
  margin:10px 17px;
  border: 1px solid #009036;
  color: #7eb8c7;
  background:url(../images/para.gif) repeat-x top left #ffcc99;
  font-weight:900;
}

p {
  line-height: 1.3em;
  font-size: small;
}
#breadcrumbs {
  border-top: 2px solid #009036;
  border-bottom: 1px solid #009036;
  background: #7eb8c7;
}

#leftColumn {
width:200px;
  margin: 10px 10px 0 5px;
  border: 1px solid #009036;
  background-color: #fbffe6;
}

#navcolumn h5 {
  font-size: smaller;
  border-bottom: 1px solid #666666;
  padding-top: 2px;
  color: #000000;
}

table.bodyTable th {
  color: white;
  background-color: #009036;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #f0f6d5;
}

table.bodyTable tr.b {
  background-color: #f4f4e4;
}

b {color:#009036;}

.source {
  background-color: #fff;
  border: 1px solid #009036;
  color:#009036;
  font-style:italic;
}
dl {
  padding: 4px 4px 4px 6px;
  border: 1px solid #dfa383;
  background-color: #ffcc99;
}
dt {
  color: #dfa383;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#banner {
  border-bottom: 1px solid #fff;
}
.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

